#root{
  margin:20px;
}

.header{
  margin:10px;
}

.header__bar{
  display: inline-flex;
}

.header__bar span{
  display: flex;
  align-items: center;
}

.header__title{
  font-family: "Segoe print", Times, serif;
  font-size: 2em;
  margin-bottom: 10px;
}

.item-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item{
  width:150px;
  height:200px;
  margin: 10px;
  
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  color: black;

  position: relative;
  text-align: center;

  transition: transform .3s ease-out;
}

.item:hover{
  transform: scale(1.2);
}

.item img{
  width: 100%;
  height:100%;
  border-radius: 6px;
}

.item__name, .item__platform{
  text-align: center;
  vertical-align: middle;
  height: 13%;
  width: 100%;
}

.item__name{  
  height: 100%;
  border-radius: 0 0 6px 6px;
  font-size: 1.3em;
  padding-top:20%;
  height: 100%;
  display:flex;
  align-items: center;
}

.item__name p{
  width: 100%;
  max-height: 94%; /* Only 94% to not display sliced last line */
  vertical-align: middle;
  overflow:hidden;
  word-break: break-word;
}

.item__platform{
  text-transform: uppercase;
  border-radius: 6px 6px 0 0;
  background: #adadad;
  position: absolute;
  top:0;
}