body{
  padding:10px;
}



.itemList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item{
  width:150px;
  height:200px;
  border:grey;
  border-style:solid;
  padding:10px;
  margin: 10px;
}